<template>

  <div class="gameLinks">
  <H1>
   💰 Get 25% off on every games 💰
  </H1>    <a v-for="link in links" :key="link.gameTitle" class="gameLink"
      :href="link.urlLink || `https://www.oculus.com/appreferrals/suissard/${link.id}`">
      <div class="gameContent">
        <img class="gameImg" :src="link.urlImg" lazy-src="https://cdn-icons-png.flaticon.com/512/5930/5930147.png" />
        <h1 class="gameTitle">{{ link.gameTitle }}</h1>
      </div>
      <img class="gameContentImg" :src="link.urlImg" />
    </a>
  </div>
</template>
<script>
import { onMounted, ref } from 'vue'

export default {
  components: {

  },

  setup() {
    let links = ref([])

    onMounted(async () => {
      try {
        const response = await fetch("https://strapi.xekkcorp.eu/api/quest-links");
        const data = await response.json();
        let linkData = data.data.map(x => x.attributes.data);
        let quest3Link = linkData.shift()
        linkData = linkData.sort(function (a, b) {
          return a.gameTitle.localeCompare(b.gameTitle);
        })
        linkData.unshift(quest3Link)

        links.value = linkData;
      } catch (error) {
        console.error('Erreur lors de la récupération des données :', error);
      }
    });

    return { links }
  }

}
</script>
<style >
body {
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
  background-image: url("https://fscl01.fonpit.de/userfiles/7687254/image/Meta_Quest_2_vs_3-w1400h788.jpg");
  background-size: contain;
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0px;
}

.gameLinks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100vw;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 16px;
}

.gameLink {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 8px;
  width: 90vw;
  max-width: 500px;
  max-height: 150px;
  /* margin: 4px auto; */
  /* padding: 8px; */
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  border-radius: 16px;
  transition: .2s ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

.gameLink:hover {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 1);
  transform: translate(2px, 2px);
}

.gameContent {
  display: flex;
  flex-direction: row;
  align-content: center;
  /* justify-content: center; */
  height: 100px;
  width: 90vw;
  max-width: 500px;
  gap: 16px;
  transition: .5s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
}

.gameImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 16px;
  z-index: 10;
}

.gameTitle {
  z-index: 99;
  font-size: bold;
  margin: auto;
  color: black;
}

.gameContentImg {
  position: absolute;
  width: 90vw;
  max-width: 500px;
  height: 100px;
  object-fit: cover;
  opacity: 20%;
  border-radius: 16px;
  z-index: 1;
}
</style>
